@import 'settings.scss';
#trust-us{
	padding-top: 70px;
	padding-bottom: 60px;
	background-color: #f8f8f8;
	.company-slider{
		margin-bottom: 120px;
		margin-top: 50px;
		background-color: #f8f8f8;
		height: 100px;
		.slider-wrap{
			border: 1px solid #cfd8dc;
			display: flex;
			justify-content: space-between;
			.company{
			 border-right: 1px solid #cfd8dc;
			 height: 100px;
			 width: calc(100% /4 );
			 display: flex;
			 justify-content: center;
			 align-items: center;
			}
		}
	}
}